html,
body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    background-image: url("../Background/Background.avif");
    background-size: cover;
}

.container {
    min-height: 100%;
    width: auto;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 2em 2em;
}

.topnav {
    background-color: #1f2833;
    border: #66fcf1 1px solid;
    display: flex;
    justify-content: space-between;
}

.topnav a {
    font-family: Raleway, sans-serif;
    color: #c5c6c7;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1em 1em;
    font-size: 150%;
}

.topnav img {
    width: 20%;
    height: auto;
}

.topnav a:hover {
    background-color: #66fcf1;
    color: black;
}

.topnav a.active {
    background-color: rgb(11, 12, 16);
    color: white;
}

.contact-container {
    background: linear-gradient(90deg, rgba(11,12,16,1) 0%, rgba(31,40,51,1) 35%);
    width: 100%;
    padding: 2em 4em;
    display: flex;
    gap: 1em;
}

h2 {
    font-family: Raleway, sans-serif;
    color: #c5c6c7;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #c5c6c7;
}
iframe {
    width: 100%;
}


.links {
    display: flex;
}

*{
    box-sizing: border-box;
}
