html,
body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    background-image: url("../Images/Background.avif");
    background-size: cover;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtzpbCFPrEHJA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    font-display: swap;
}

.container {
    min-height: 100%;
    width: auto;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 2em 2em;
}

.topnav {
    background-color: #1f2833;
    border: #66fcf1 1px solid;
    display: flex;
    justify-content: space-between;
}

.topnav a {
    font-family: Raleway, sans-serif;
    color: #c5c6c7;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1em 1em;
    font-size: 150%;
}

.topnav img {
    width: 20%;
    height: auto;
}

.topnav a:hover {
    background-color: #66fcf1;
    color: black;
}

.topnav a.active {
    background-color: rgb(11, 12, 16);
    color: white;
}

.links {
    display: flex;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: Raleway, sans-serif;
    font-size: max(8vw, 3vh);
    color: #66fcf1;
    text-align: center;
    text-transform: uppercase;
    white-space: break-spaces;
}


.scenery {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

* {
    box-sizing: border-box;
}

.paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    color: #c5c6c7;
    text-align: center;
    padding: 1vh 1vw;
}
