/* Navigation bar should be on top of the container */
html,
body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    background-image: url("./Background/Background.jpg");
    background-size: cover;
}

.container {
    min-height: 100%;
    width: auto;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 2em 2em;
}

.topnav {
    background-color: #1f2833;
    border: #66fcf1 1px solid;
    display: flex;
    justify-content: space-between;
}

.topnav a {
    font-family: Raleway, sans-serif;
    color: #c5c6c7;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1em 1em;
    font-size: 150%;
}

.topnav a:hover {
    background-color: #66fcf1;
    color: black;
}

.topnav a.active {
    background-color: rgb(11, 12, 16);
    color: white;
}

.links {
    display: flex;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: Raleway, sans-serif;
    font-size: max(8vw, 3vh);
    color: #66fcf1;
    text-align: center;
    text-transform: uppercase;
    white-space: break-spaces;
}


.scenery {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

*{
    box-sizing: border-box;
}

.paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #c5c6c7;
    text-align: center;
    padding: 1vh 1vw;
}
