html,
body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    background-image: url("./Background/Background.jpg");
    background-size: cover;
}

.container {
    min-height: 100%;
    width: auto;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 2em 2em;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.product-container div {
    display: inline-block;
    background: linear-gradient(90deg, rgba(11,12,16,1) 0%, rgba(31,40,51,1) 35%);
    padding: 0 1em;
    border: #66fcf1 1px solid;
}

.product-container img {
    width: 100%;
    height: auto;
}

.topnav {
    background-color: #1f2833;
    border: #66fcf1 1px solid;
    display: flex;
    justify-content: space-between;
}

.topnav a {
    font-family: Raleway, sans-serif;
    color: #c5c6c7;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1em 1em;
    font-size: 150%;
}

.topnav a:hover {
    background-color: #66fcf1;
    color: black;
}

.topnav a.active {
    background-color: rgb(11, 12, 16);
    color: white;
}

.links {
    display: flex;
}

.scenery {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

*{
    box-sizing: border-box;
}

h2 {
    text-align: left;
    color: #c5c6c7;
    font-family: 'Raleway', sans-serif;
}

.paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #c5c6c7;
    text-align: justify;
}

.product-container p {
    font-family: 'Roboto', sans-serif;
    color: #c5c6c7;
    text-align: left;
    font-size: 18px;
}